# User Testing Report

User testing was conducted by Andy Ham on Oct 22, 2013 between the times of 8AM and 11AM with the following participants:

- Cassie Chatrand
- Cameron Webb
- Seita Goto

## Tasks

1. Learn More about what a galaxy is
2. Return to Home
3. Read about the News

---

## Individual Results & Observations

### Cassie Chatrand

- She clicked on the link as expected to learn more about galaxies
- Used the site name to try and get home instead of the home button
- Had to explain the site name wasn't a button
- Used the navbar to find the news
- Didn't use carousel


### Cameron Webb

- He clicked on the link as expected to learn more about galaxies
- Used the proper home button
- Used navbar to find the news
- Didn't use carousel

### Seita Goto

- He clicked on the link as expected to learn more about galaxies
- Used the site name to try and get home instead of the home button
- Used the navbar to find the news
- Didn't use carousel

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- I have to change the site name to a home button and remove my original one

### Minor, Annoying, Won’t Hinder Completion

- Seita thought I should move the News button before all of my categories