<!DOCTYPE html>
<html lang=en-ca>
<head>
  <meta charset=utf-8>


  <title>Milkyway Galaxy · The home for our solar system</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">
    <!-- Bootstrap -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="dist/css/carousel.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>

    <![endif]-->
  <!-- Facebook -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="Title of this page">
  <meta property="og:url" content="http://fullurl.com/to-this/article.html">
  <!-- Image size: minimum 200x200; preferred 1500x1500 -->
  <meta property="og:image" content="http://domain.com/img/thing.jpg">
  <meta property="og:site_name" content="Name of this Website/Company">
  <meta property="og:description" content="Small description; reuse your meta description">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary">
  <meta property="twitter:title" content="Title of this page">
  <meta property="twitter:url" content="http://fullurl.com/to-this/article.html">
  <!-- Image size: minimum 120x120 -->
  <meta property="twitter:image" content="http://domain.com/img/thing.jpg">
  <meta property="twitter:description" content="Small description; reuse your meta description">
</head>
<body>
<div class="navbar navbar-inverse navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html" rel="home">MyMilkyWay</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Galaxy <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="Galaxy.html">What is a Galaxy</a></li>
                <li><a href="#">How a Galaxy is formed</a></li>
                <li><a href="#">A Galaxies Environment</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solar System <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">What is a Solar System</a></li>
                <li><a href="#">Structure and Composition</a></li>
                <li><a href="#">Inner Solar Sytem</a></li>
                <li><a href="#">Outer Solar System</a></li>
                <li><a href="#">Farthest Regions</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Milky Way <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Appearance</a></li>
                <li><a href="#">Size and Composition</a></li>
                <li><a href="#">Velocity</a></li>
                <li><a href="#">Etymology and Mythology</a></li>
                <li><a href="#">Astronomical History</a></li>
              </ul>
              <li><a href="#News">News</a></li>
            </li>

          </ul>
        
        </div><!--/.nav-collapse -->
      </div>
    </div>
 </div>


{{content}} 
<div class="container">
        <div class="page-header">
         
       </div>
       
       <p>Use <a href="getbootstrap.com" rel="external">bootstrap</a> for some help on creating websites.</p>
     </div>
   </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Created By <a href="#">Andy Ham</a> </a>.</p>
      </div>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="dist/js/bootstrap.min.js"></script>
</body>
</html>
